header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  background-color: #000;

  background-image: url('../../assets/c3logo.png');
  background-position: calc(12px + env(safe-area-inset-top)) center;
  background-size: auto 80%;
  background-repeat: no-repeat;

  padding-left: calc(70px + env(safe-area-inset-top));
  padding-right: env(safe-area-inset-top);
}

.select-day {
  background-color: #000;
  border-style: none none solid none;
  font-size: 15px;
  color: #fff;
  border-color: #888;

  option {
    color: #fff;
  }
}