body {
  font-family: sans-serif;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50px;
  width: 100vw;
  background-color: #222;
  overflow: auto;
  overflow-x: hidden;

  height: 100vh;

  box-sizing: border-box;
}

.room-content {
  position: absolute;
  top: 0px;
  left: 40px;
  right: 0px;
  height: 100%;

  overflow-x: auto;
  overflow-y: hidden;
}